<h2>Questions</h2>
<table width="100%" class="table table-bordered">
  <thead>
    <tr>
      <th width="20%">Index</th>
      <th width="80%">Question</th>
    </tr>
  </thead>
  <%- @questions.each_with_index do |question,index| %>
  <tr>
    <td>
      <%= "#{index}" %>
    </td>
    <td>
      <%= link_to question.question, subject_chapter_topic_question_path(question.topic.chapter.subject.id, question.topic.chapter.id, question.topic.id, question), :remote => :true %>
    </td>
  </tr>
  <% end %>
</table>
