<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Forum -  <%= "#{@forum}" %>%</h1><br />
    <h2>Chapter -  <%= "#{@topic.chapter.name}" %>%</h2>
    <h2>Topic -  <%= "#{@topic.name}" %>%</h2>


    <p>Question - <%= "#{@post}" %></p>

  </body>
</html>
