<div class="box-one">
  <h3>About our Academy</h3>
  <div class="box-one-img"><img src="assets/one.jpg" /></div>
  <div class="box-one-text"><strong>J.K.SCIENCE ACADEMY</strong>
    ,formerly known as a J.K.CLASSES,ISLAMPUR, a brain child of madam
    SANDHYA J. PATIL , was originated about two decades ago.She\
    herself is a well known faculty in BIOLOGY</div>
  <div class="read-more"><a href="/about">Read More >></a></div>
</div>
<div class="box-one">
  <h3>Why to join us</h3>
  <div class="box-one-img"><img src="assets/two.jpg" /></div>
  <div class="box-one-text"><strong>While launching this
      academy</strong>,the main purpose kept in mind and practice,was to
    avail guidance to all the students with proper attitude so that th\ ey
    might face with full confidence the entrance exams of IIT-JEE \</div>
  <div class="read-more"><a href="/why_to_join_us">Read More >></a></div>
</div>
<div class="box-one">
  <h3>Our Results</h3>
  <div class="box-one-img"><img src="assets/three.jpg" /></div>
  <div class="box-one-text">
    <strong>Garud Sanket</strong> (PCM) -
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 &nbsp; 94 &nbsp;95
    <br />
    <strong>Ambeker Rahal </strong>(PCMB) - &nbsp; 89 &nbsp; 86
    &nbsp; 86 &nbsp; 95 <br />
    <strong>Asmita Jadhav </strong>(PCM)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 96 &nbsp; 89 &nbsp; 92 <br />
    <strong>Shinde Ajinkya</strong>(PCMB) - &nbsp; 76 &nbsp; 92
    &nbsp;&nbsp; 80 &nbsp; 81<br />
    <strong>Pandharpatte Kajal</strong>(PCM)-75 &nbsp; 69 &nbsp;
    71<br />
  </div>
  <div class="read-more"><a href="/results">Read More >></a></div>
</div>
<div class="box-one">
  <h3>Notifications</h3>
  <div class="box-one-img"><img src="assets/four.jpg" /></div>
  <div class="box-one-text">
    1<sup>th</sup> batch of <strong>(11+12)<sup>th</sup> +
      IITJEE /AIMPT</strong> from 16 may 2012.  <br />
    2<sup>nd</sup> batch of <strong>(11+12)<sup>th</sup> +
      NEET</strong> from 20<sup>th</sup> june 2012. <br />
    vacation batch for <strong>CBSC</strong> 10<sup>th</sup>
    from 6<sup>th</sup> may
  </div>
  <div class="read-more"><a href="/notification">Read More >></a></div>
</div>
<div style="clear:both;"></div>
<div class="box-two">
  <h3>News</h3>
  <div class="box-two-text">
    Dummy text dummy text dummy text dummy text dummy text dummy
    text dummy text dummy text Dummy text dummy text dummy text
    dummy text dummy text dummy text dummy text dummy text
  </div>
  <div class="read-more-two"><a href="#">Read More >></a></div>
</div>
