<div>
  <h1>Why To Join Us</h1>
  <div style="margin:20px 0 20px 0; ">
    <h3>
      <font color="#464545">
	<p>While launching this academy,the main purpose kept in mind
	  and practice,was to avail guidance to all the students with
	  proper attitude so that they might face with full confidence
	  the entrance exams of IIT-JEE \ NIT \AIPMT \ CET(MH).</p>
	<p>A natural question arises, why there is a new coaching
	  classes when there are so many already in the field?</p>
	<p>We would like to share you all that each one in this field
	  has its very own flavour.  What we specialize in is that we
	  are capable of guiding even to an average student to the level
	  required for beating these exams at one side and equally
	  qualified enough to quench the thirst of brilliant
	  scholars.</p>
        <p>We not only train students in problem solving but also
	  develop a charm and way of proper thinking as it is well
	  known that science is not a subject of cramming.and study of
	  any branch of science\engineering \technology\ medicine
	  needs a kind of TAPASHYA.</p>
	<p>And finally in one sentence WE BELIEVE IN BIG DOINGS AND NOT
          IN BIG BOASTING.<br />  WISHING YOU ALL THE
          BEST.............. </p> 
	<p>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  Mrs.SANDHYA J. PATIL  
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  Mr.MAHESH CHAURASIA <br />
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  M.Sc. ,N.D.  
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  M.Sc.(Maths) DIRECTOR
          DIRECTOR(ACADEMICS)
	</p>
      </font>
    </h3>
  </div>
</div>
