<div>
  <h1>Results</h1>
  <div style="margin:20px 0 20px 0; ">
    <h3>Board , AIEEE, CET  Result  2011</h3>
    <table width="100%" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Index</th>
        <th>Student Name</th>
        <th>Physics</th>
        <th>Chemistry</th>
        <th>Maths</th>
	<th>Bio</th>
        <th>AIEEE</th>
      </tr>
    </thead>
    <tr>
      <td>1</td>
      <td><strong>Garud Sanket</strong></td>
      <td>100</td>
      <td>94</td>
      <td>95</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td><strong>Ambeker Rahal</strong></td>
      <td>89</td>
      <td>86</td>
      <td>86</td>
      <td>95</td>
      <td>183</td>
    </tr>
    <tr>
      <td>3</td>
      <td><strong>Asmita Jadhav</strong></td>
      <td>96</td>
      <td>89</td>
      <td>92</td>
      <td></td>
      <td>59</td>
    </tr>
    <tr>
      <td>4</td>
      <td><strong>Shinde Ajinkya</strong></td>
      <td>76</td>
      <td>92</td>
      <td>80</td>
      <td>81</td>
      <td>80</td>
    </tr>
    <tr>
      <td>5</td>
      <td><strong>Pandharpatte Kajal</strong></td>
      <td>75</td>
      <td>69</td>
      <td>71</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td><strong>Walake Avdhut</strong></td>
      <td>63</td>
      <td>76</td>
      <td>68</td>
      <td></td>
      <td>35</td>
    </tr>
    <tr>
      <td>7</td>
      <td><strong>Raval Pranav</strong></td>
      <td>73</td>
      <td>71</td>
      <td>68</td>
      <td>82</td>
      <td>40</td>
    </tr>
    <tr>
      <td>8</td>
      <td><strong>Jadhav Vishal</strong></td>
      <td>57</td>
      <td>59</td>
      <td>80</td>
      <td></td>
      <td>58</td>
    </tr>
    <tr>
      <td>9</td>
      <td><strong>Patil Neha</strong></td>
      <td>66</td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td>35</td>
    </tr>
    <tr>
      <td>10</td>
      <td><strong>Patil Aaishwarya .V</strong></td>
      <td>51</td>
      <td>40</td>
      <td>53</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td><strong>Aishwarya P.S. patil</strong></td>
      <td>48</td>
      <td>58</td>
      <td>62</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td><strong>Patil Monika Sambhaji</strong></td>
      <td>47</td>
      <td>56</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td><strong>Jadhav Dipali</strong></td>
      <td>45</td>
      <td>48</td>
      <td>66</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td><strong>Naikawadi Shwetali</strong></td>
      <td>44</td>
      <td>39</td>
      <td>71</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>15</td>
      <td><strong>Shate Bhagyashr </strong></td>
      <td>59</td>
      <td>35</td>
      <td>48</td>
      <td>50</td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td><strong>Bhosle Rutuja</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>24</td>
    </tr>
    <tr>
      <td>17</td>
      <td><strong>Falle Trupti</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>65</td>
    </tr>
    <tr>
      <td>18</td>
      <td><strong>Janagade Sarojini</strong></td>
      <td>68</td>
      <td>75</td>
      <td>83</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td><strong>Shingade Sushant</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>38</td>
    </tr>
    <tr>
      <td>20</td>
      <td><strong>Patil monika suresh</strong></td>
      <td>45</td>
      <td>42</td>
      <td>71</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>21</td>
      <td><strong>S.Momen</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>136</td>
    </tr>
    <tr>
      <td>22</td>
      <td><strong>Amit Jovela</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>60</td>
    </tr>
    <tr>
      <td>23</td>
      <td><strong>Jadep</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>58</td>
    </tr>
    <tr>
      <td>24</td>
      <td><strong>Okare randay</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>98</td>
    </tr>

    </table>
  </div>
</div>
