<script>
jQuery(function($) {
  $('#myModal').on('shown', function () {
  $.get('/teachers/new');
  $("#modal_heading").replaceWith("<h3>New Teachers</h3>");
  });
})
</script>
<%= render 'form_index' %>
