<script>
  jQuery(function($) {
    $('#myModal').on('shown', function () {
      $.get('/roles/new');
      $("#modal_heading").replaceWith("<h3>New Role</h3>");
    });

  })
</script>
<%= render 'form_index' %>

